# Notebook for used UK-Cars

 In this notebook we will use the data from kaggle only for 4 manufacturer in Germany: Audi, Mercedes, VW and BMW.

# Import all libraries.

In [1]:
# import pandas, numpy, datetime module
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from datetime import datetime, date, time, timedelta

import datetime
import time
import re

#import statsmodels.api as sm

import matplotlib.pyplot as plt
import seaborn as snss

%matplotlib inline


#import ML modules
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LinearRegression, SGDClassifier

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

from pprint import pprint # Look at parameters used by our current forest

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import StratifiedKFold

# import plotting modules
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# import formattings
from matplotlib.ticker import PercentFormatter
plt.rcParams.update({ "figure.figsize" : (8, 5),"axes.facecolor" : "white", "axes.edgecolor":  "black"})
plt.rcParams["figure.facecolor"]= "w"
pd.plotting.register_matplotlib_converters()
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.set_option('display.max_columns', None)

RSEED = 3

# Setting plt style
plt.style.use('fivethirtyeight')

# set color theme
sns_colors = ["#FF6D43", "#00135D", '#00135D', '#00135D']
sns.set_palette(sns.color_palette(sns_colors))

primary = '#FF6D43'
secondary = '#00135D'

# Data understanding

# Audi data

In [2]:
#import the data
df_audi = pd.read_csv('../data/csv_uk/audi.csv')

In [3]:
# add a columns for make
df_audi['make'] = 'Audi'

In [4]:
df_audi.shape

(10668, 10)

In [5]:
df_audi.duplicated().value_counts()

False    10565
True       103
dtype: int64

In [6]:
df_audi.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
0,A1,2017,12500,Manual,15735,Petrol,150,55.40,1.40,Audi
1,A6,2016,16500,Automatic,36203,Diesel,20,64.20,2.00,Audi
2,A1,2016,11000,Manual,29946,Petrol,30,55.40,1.40,Audi
3,A4,2017,16800,Automatic,25952,Diesel,145,67.30,2.00,Audi
4,A3,2019,17300,Manual,1998,Petrol,145,49.60,1.00,Audi

In [7]:
df_audi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10668 non-null  object
 1   year          10668 non-null  int64
 2   price         10668 non-null  int64
 3   transmission  10668 non-null  object
 4   mileage       10668 non-null  int64
 5   fuelType      10668 non-null  object
 6   tax           10668 non-null  int64
 7   mpg           10668 non-null  float64
 8   engineSize    10668 non-null  float64
 9   make          10668 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 833.6+ KB

In [8]:
# Count NULL values
df_audi.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
make            0
dtype: int64

In [9]:
df_audi.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize', 'make'],
      dtype='object')

In [10]:
# find out which models the table have
df_audi['model'].unique()

array([' A1', ' A6', ' A4', ' A3', ' Q3', ' Q5', ' A5', ' S4', ' Q2',
       ' A7', ' TT', ' Q7', ' RS6', ' RS3', ' A8', ' Q8', ' RS4', ' RS5',
       ' R8', ' SQ5', ' S8', ' SQ7', ' S3', ' S5', ' A2', ' RS7'],
      dtype=object)

# VW Data

In [11]:
df_vw = pd.read_csv('../data/csv_uk/vw.csv')

In [12]:
# add a columns for make
df_vw['make'] = 'Volkswagen'

In [13]:
df_vw.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
0,T-Roc,2019,25000,Automatic,13904,Diesel,145,49.60,2.00,Volkswagen
1,T-Roc,2019,26883,Automatic,4562,Diesel,145,49.60,2.00,Volkswagen
2,T-Roc,2019,20000,Manual,7414,Diesel,145,50.40,2.00,Volkswagen
3,T-Roc,2019,33492,Automatic,4825,Petrol,145,32.50,2.00,Volkswagen
4,T-Roc,2019,22900,Semi-Auto,6500,Petrol,150,39.80,1.50,Volkswagen

In [14]:
df_vw.shape

(15157, 10)

In [15]:
df_vw.duplicated().value_counts()

False    14893
True       264
dtype: int64

In [16]:
df_vw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15157 entries, 0 to 15156
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         15157 non-null  object
 1   year          15157 non-null  int64
 2   price         15157 non-null  int64
 3   transmission  15157 non-null  object
 4   mileage       15157 non-null  int64
 5   fuelType      15157 non-null  object
 6   tax           15157 non-null  int64
 7   mpg           15157 non-null  float64
 8   engineSize    15157 non-null  float64
 9   make          15157 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 1.2+ MB

In [17]:
df_vw.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
make            0
dtype: int64

In [18]:
df_vw.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize', 'make'],
      dtype='object')

In [19]:
df_vw['model'].unique()

array([' T-Roc', ' Golf', ' Passat', ' T-Cross', ' Polo', ' Tiguan',
       ' Sharan', ' Up', ' Scirocco', ' Beetle', ' Caddy Maxi Life',
       ' Caravelle', ' Touareg', ' Arteon', ' Touran', ' Golf SV',
       ' Amarok', ' Tiguan Allspace', ' Shuttle', ' Jetta', ' CC',
       ' California', ' Caddy Life', ' Caddy', ' Caddy Maxi', ' Eos',
       ' Fox'], dtype=object)

# BMW Data

In [20]:
df_bmw = pd.read_csv('../data/csv_uk/bmw.csv')

In [21]:
# add a columns for make
df_bmw['make'] = 'BMW'

In [22]:
df_bmw.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.60,2.00,BMW
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.80,2.00,BMW
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.40,3.00,BMW
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.40,1.50,BMW
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.40,3.00,BMW

In [23]:
df_bmw.shape

(10781, 10)

In [24]:
df_bmw.duplicated().value_counts()

False    10664
True       117
dtype: int64

In [25]:
df_bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10781 entries, 0 to 10780
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10781 non-null  object
 1   year          10781 non-null  int64
 2   price         10781 non-null  int64
 3   transmission  10781 non-null  object
 4   mileage       10781 non-null  int64
 5   fuelType      10781 non-null  object
 6   tax           10781 non-null  int64
 7   mpg           10781 non-null  float64
 8   engineSize    10781 non-null  float64
 9   make          10781 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 842.4+ KB

In [26]:
df_bmw.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
make            0
dtype: int64

In [27]:
df_bmw.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize', 'make'],
      dtype='object')

In [28]:
df_bmw['model'].unique()

array([' 5 Series', ' 6 Series', ' 1 Series', ' 7 Series', ' 2 Series',
       ' 4 Series', ' X3', ' 3 Series', ' X5', ' X4', ' i3', ' X1', ' M4',
       ' X2', ' X6', ' 8 Series', ' Z4', ' X7', ' M5', ' i8', ' M2',
       ' M3', ' M6', ' Z3'], dtype=object)

# Mercedes Data

In [29]:
df_merc = pd.read_csv('../data/csv_uk/merc.csv')

In [30]:
# add a columns for make
df_merc['make'] = 'Mercedes-Benz'

In [31]:
df_merc.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.10,1.80,Mercedes-Benz
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.40,2.10,Mercedes-Benz
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.00,5.50,Mercedes-Benz
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.40,4.00,Mercedes-Benz
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.10,4.00,Mercedes-Benz

In [32]:
df_merc.shape

(13119, 10)

In [33]:
df_merc.duplicated().value_counts()

False    12860
True       259
dtype: int64

In [34]:
df_merc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13119 entries, 0 to 13118
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         13119 non-null  object
 1   year          13119 non-null  int64
 2   price         13119 non-null  int64
 3   transmission  13119 non-null  object
 4   mileage       13119 non-null  int64
 5   fuelType      13119 non-null  object
 6   tax           13119 non-null  int64
 7   mpg           13119 non-null  float64
 8   engineSize    13119 non-null  float64
 9   make          13119 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 1.0+ MB

In [35]:
df_merc.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
make            0
dtype: int64

In [36]:
df_merc.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize', 'make'],
      dtype='object')

In [37]:
df_merc['model'].unique()

array([' SLK', ' S Class', ' SL CLASS', ' G Class', ' GLE Class',
       ' GLA Class', ' A Class', ' B Class', ' GLC Class', ' C Class',
       ' E Class', ' GL Class', ' CLS Class', ' CLC Class', ' CLA Class',
       ' V Class', ' M Class', ' CL Class', ' GLS Class', ' GLB Class',
       ' X-CLASS', '180', ' CLK', ' R Class', '230', '220', '200'],
      dtype=object)

# The merge of all dataframes

In [38]:
allcars_df = pd.concat([df_audi, df_vw, df_bmw, df_merc], axis=0)

allcars_df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
0,A1,2017,12500,Manual,15735,Petrol,150,55.40,1.40,Audi
1,A6,2016,16500,Automatic,36203,Diesel,20,64.20,2.00,Audi
2,A1,2016,11000,Manual,29946,Petrol,30,55.40,1.40,Audi
3,A4,2017,16800,Automatic,25952,Diesel,145,67.30,2.00,Audi
4,A3,2019,17300,Manual,1998,Petrol,145,49.60,1.00,Audi
...,...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.40,2.00,Mercedes-Benz
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.40,2.00,Mercedes-Benz
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.50,2.10,Mercedes-Benz
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.60,2.00,Mercedes-Benz
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.30,2.90,Mercedes-Benz

# Cleaning the data

### duplicated data

In [39]:
#counting of the duplicated data
allcars_df.duplicated().value_counts()

False    48982
True       743
dtype: int64

In [40]:
# delete of duplicated data
allcars_new = allcars_df.drop_duplicates()

In [41]:
allcars_new.duplicated().value_counts()

False    48982
dtype: int64

In [42]:
allcars_new.groupby(['make', 'model']).count()['price']

make        model
Audi         A1                 1337
             A2                    1
             A3                 1917
             A4                 1375
             A5                  874
                                ...
Volkswagen   Tiguan             1743
             Tiguan Allspace      91
             Touareg             347
             Touran              349
             Up                  846
Name: price, Length: 104, dtype: int64

### delete the data below 2010

In [43]:
allcars_new = allcars_new[allcars_new['year']>2011]

## Strip white spaces

In [44]:
# strip white spaces
for col in allcars_new.columns:
    if allcars_new[col].dtypes == object:
        allcars_new[col] = allcars_new[col].str.strip()

### the creating of query for the correct models, that we need

In [45]:
df_uk = allcars_new.query('model == "A1" | model == "A3" | model == "A5" | model == "Q3" | model == "1 Series" | model == "3 Series" | model == "X1" | model == "i3" | model == "smart" | model == "A Class" | model == "C Class" | model == "G Class" | model == "Golf" | model == "Passat" | model == "Polo" | model == "Tiguan"')

In [46]:
df_uk

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make
0,A1,2017,12500,Manual,15735,Petrol,150,55.40,1.40,Audi
2,A1,2016,11000,Manual,29946,Petrol,30,55.40,1.40,Audi
4,A3,2019,17300,Manual,1998,Petrol,145,49.60,1.00,Audi
5,A1,2016,13900,Automatic,32260,Petrol,30,58.90,1.40,Audi
8,A3,2015,10200,Manual,46112,Petrol,20,60.10,1.40,Audi
...,...,...,...,...,...,...,...,...,...,...
13107,C Class,2019,24999,Automatic,6064,Diesel,145,61.40,2.00,Mercedes-Benz
13109,A Class,2017,16499,Automatic,20477,Diesel,145,68.90,2.10,Mercedes-Benz
13112,C Class,2019,30399,Automatic,5000,Diesel,145,61.40,2.00,Mercedes-Benz
13113,C Class,2020,30999,Automatic,1000,Diesel,145,64.20,2.00,Mercedes-Benz
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.40,2.00,Mercedes-Benz

# Addition of the new columns

### Add following columns: age, price in euro, mileage in km, mpg (miles per gallon) in liter pro km.

In [47]:
# add the column age
df_uk.eval('age = 2023 - year', inplace = True)
df_uk.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make,age
0,A1,2017,12500,Manual,15735,Petrol,150,55.40,1.40,Audi,6
2,A1,2016,11000,Manual,29946,Petrol,30,55.40,1.40,Audi,7
4,A3,2019,17300,Manual,1998,Petrol,145,49.60,1.00,Audi,4
5,A1,2016,13900,Automatic,32260,Petrol,30,58.90,1.40,Audi,7
8,A3,2015,10200,Manual,46112,Petrol,20,60.10,1.40,Audi,8

In [48]:
#add the column price in euro
df_uk.eval('europrice = price * 1.14', inplace = True)
df_uk.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make,age,europrice
0,A1,2017,12500,Manual,15735,Petrol,150,55.40,1.40,Audi,6,14250.00
2,A1,2016,11000,Manual,29946,Petrol,30,55.40,1.40,Audi,7,12540.00
4,A3,2019,17300,Manual,1998,Petrol,145,49.60,1.00,Audi,4,19722.00
5,A1,2016,13900,Automatic,32260,Petrol,30,58.90,1.40,Audi,7,15846.00
8,A3,2015,10200,Manual,46112,Petrol,20,60.10,1.40,Audi,8,11628.00

In [49]:
# add the column km 
df_uk.eval('km = mileage * 1.609', inplace = True)
df_uk.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,make,age,europrice,km
0,A1,2017,12500,Manual,15735,Petrol,150,55.40,1.40,Audi,6,14250.00,25317.61
2,A1,2016,11000,Manual,29946,Petrol,30,55.40,1.40,Audi,7,12540.00,48183.11
4,A3,2019,17300,Manual,1998,Petrol,145,49.60,1.00,Audi,4,19722.00,3214.78
5,A1,2016,13900,Automatic,32260,Petrol,30,58.90,1.40,Audi,7,15846.00,51906.34
8,A3,2015,10200,Manual,46112,Petrol,20,60.10,1.40,Audi,8,11628.00,74194.21

### delete of old columns

In [50]:
df_uk.drop(['mileage', 'price'], inplace=True, axis=1)
df_uk

,model,year,transmission,fuelType,tax,mpg,engineSize,make,age,europrice,km
0,A1,2017,Manual,Petrol,150,55.40,1.40,Audi,6,14250.00,25317.61
2,A1,2016,Manual,Petrol,30,55.40,1.40,Audi,7,12540.00,48183.11
4,A3,2019,Manual,Petrol,145,49.60,1.00,Audi,4,19722.00,3214.78
5,A1,2016,Automatic,Petrol,30,58.90,1.40,Audi,7,15846.00,51906.34
8,A3,2015,Manual,Petrol,20,60.10,1.40,Audi,8,11628.00,74194.21
...,...,...,...,...,...,...,...,...,...,...,...
13107,C Class,2019,Automatic,Diesel,145,61.40,2.00,Mercedes-Benz,4,28498.86,9756.98
13109,A Class,2017,Automatic,Diesel,145,68.90,2.10,Mercedes-Benz,6,18808.86,32947.49
13112,C Class,2019,Automatic,Diesel,145,61.40,2.00,Mercedes-Benz,4,34654.86,8045.00
13113,C Class,2020,Automatic,Diesel,145,64.20,2.00,Mercedes-Benz,3,35338.86,1609.00
13114,C Class,2020,Automatic,Diesel,145,55.40,2.00,Mercedes-Benz,3,41038.86,804.50

### rename the columns according to German data

In [51]:
df_uk = df_uk.rename(columns={'europrice': 'price', 'age': 'car_age', 'year': 'registration', 'fuelType': 'fuel', 'transmission': 'gear', 'km': 'mileage'})

In [52]:
df_uk.groupby(['make', 'registration']).count()['price']

make           registration
Audi           2012              50
               2013             179
               2014             265
               2015             630
               2016            1115
               2017            1064
               2018             344
               2019            1452
               2020             339
BMW            2012              80
               2013             255
               2014             287
               2015             467
               2016            1045
               2017            1032
               2018             408
               2019            1293
               2020             241
Mercedes-Benz  2012              27
               2013             143
               2014             254
               2015             448
               2016             924
               2017            1093
               2018             701
               2019            2262
               2020             274
Volkswagen     2012              51
               2013             208
               2014             403
               2015             879
               2016            2104
               2017            2406
               2018             968
               2019            2941
               2020             556
Name: price, dtype: int64

In [53]:
df_uk.groupby(['make', 'gear']).count()['price']

make           gear
Audi           Automatic    1006
               Manual       2830
               Semi-Auto    1602
BMW            Automatic    1416
               Manual       1775
               Semi-Auto    1917
Mercedes-Benz  Automatic    2128
               Manual        974
               Semi-Auto    3024
Volkswagen     Automatic    1115
               Manual       6770
               Semi-Auto    2631
Name: price, dtype: int64

## rename of the following columns: transmission, fuelType according to the German notebooks

In [54]:
df_uk.replace({'Benzin': 'Petrol', 'Sonstige':'Other', 'Elektro':'Electric',
           'Automatik': 'Automatic', 'Schaltgetriebe': 'Manual', 'Halbautomatik':'Semi-Auto',
           }, inplace=False)

,model,registration,gear,fuel,tax,mpg,engineSize,make,car_age,price,mileage
0,A1,2017,Manual,Petrol,150,55.40,1.40,Audi,6,14250.00,25317.61
2,A1,2016,Manual,Petrol,30,55.40,1.40,Audi,7,12540.00,48183.11
4,A3,2019,Manual,Petrol,145,49.60,1.00,Audi,4,19722.00,3214.78
5,A1,2016,Automatic,Petrol,30,58.90,1.40,Audi,7,15846.00,51906.34
8,A3,2015,Manual,Petrol,20,60.10,1.40,Audi,8,11628.00,74194.21
...,...,...,...,...,...,...,...,...,...,...,...
13107,C Class,2019,Automatic,Diesel,145,61.40,2.00,Mercedes-Benz,4,28498.86,9756.98
13109,A Class,2017,Automatic,Diesel,145,68.90,2.10,Mercedes-Benz,6,18808.86,32947.49
13112,C Class,2019,Automatic,Diesel,145,61.40,2.00,Mercedes-Benz,4,34654.86,8045.00
13113,C Class,2020,Automatic,Diesel,145,64.20,2.00,Mercedes-Benz,3,35338.86,1609.00
13114,C Class,2020,Automatic,Diesel,145,55.40,2.00,Mercedes-Benz,3,41038.86,804.50

In [55]:
df_uk.groupby(['make', 'model']).count()['price']

make           model
Audi           A1          1331
               A3          1868
               A5           861
               Q3          1378
BMW            1 Series    1931
               3 Series    2345
               X1           789
               i3            43
Mercedes-Benz  A Class     2463
               C Class     3648
               G Class       15
Volkswagen     Golf        4734
               Passat       862
               Polo        3191
               Tiguan      1729
Name: price, dtype: int64

### add the new colums for car (make+model)

In [56]:
df_uk["car"] = df_uk["make"] + ' ' + df_uk["model"]

In [57]:
df_uk.model.value_counts()

Golf        4734
C Class     3648
Polo        3191
A Class     2463
3 Series    2345
1 Series    1931
A3          1868
Tiguan      1729
Q3          1378
A1          1331
Passat       862
A5           861
X1           789
i3            43
G Class       15
Name: model, dtype: int64

## create the car classes

## small car

In [58]:
df_uk['class'] = df_uk['model']
df_uk

,model,registration,gear,fuel,tax,mpg,engineSize,make,car_age,price,mileage,car,class
0,A1,2017,Manual,Petrol,150,55.40,1.40,Audi,6,14250.00,25317.61,Audi A1,A1
2,A1,2016,Manual,Petrol,30,55.40,1.40,Audi,7,12540.00,48183.11,Audi A1,A1
4,A3,2019,Manual,Petrol,145,49.60,1.00,Audi,4,19722.00,3214.78,Audi A3,A3
5,A1,2016,Automatic,Petrol,30,58.90,1.40,Audi,7,15846.00,51906.34,Audi A1,A1
8,A3,2015,Manual,Petrol,20,60.10,1.40,Audi,8,11628.00,74194.21,Audi A3,A3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13107,C Class,2019,Automatic,Diesel,145,61.40,2.00,Mercedes-Benz,4,28498.86,9756.98,Mercedes-Benz C Class,C Class
13109,A Class,2017,Automatic,Diesel,145,68.90,2.10,Mercedes-Benz,6,18808.86,32947.49,Mercedes-Benz A Class,A Class
13112,C Class,2019,Automatic,Diesel,145,61.40,2.00,Mercedes-Benz,4,34654.86,8045.00,Mercedes-Benz C Class,C Class
13113,C Class,2020,Automatic,Diesel,145,64.20,2.00,Mercedes-Benz,3,35338.86,1609.00,Mercedes-Benz C Class,C Class
13114,C Class,2020,Automatic,Diesel,145,55.40,2.00,Mercedes-Benz,3,41038.86,804.50,Mercedes-Benz C Class,C Class

In [59]:
# smart
df_uk['class'] = np.where((df_uk['make'] == 'smart'), 'Small car', df_uk['class'])

# Polo GTI
df_uk['class'] = np.where((df_uk['make'] == 'Volkswagen') & (df_uk['model'] == 'Polo') , 'Small car', df_uk['class'])

# Audi A1
df_uk['class'] = np.where((df_uk['make'] == 'Audi') & (df_uk['model'] == 'A1') , 'Small car', df_uk['class'])

# BMW i3
df_uk['class'] = np.where((df_uk['make'] == 'BMW') & (df_uk['model'] == 'i3') , 'Small car', df_uk['class'])

## small family car

In [60]:
# MB A 200
df_uk['class'] = np.where((df_uk['make'] == 'Mercedes-Benz') & (df_uk['model'] == 'A Class'), 'Small family car', df_uk['class'])

# VW Golf GTI
df_uk['class'] = np.where((df_uk['make'] == 'Volkswagen') & (df_uk['model'] == 'Golf') , 'Small family car', df_uk['class'])

# Audi A3
df_uk['class'] = np.where((df_uk['make'] == 'Audi') & (df_uk['model'] == 'A3') , 'Small family car', df_uk['class'])

# BMW 120
df_uk['class'] = np.where((df_uk['make'] == 'BMW') & (df_uk['model'] == '1 Series') , 'Small family car', df_uk['class'])

## large family car

In [61]:
# MB C 200
df_uk['class'] = np.where((df_uk['make'] == 'Mercedes-Benz') & (df_uk['model'] == 'C Class'), 'Large family car', df_uk['class'])

# VW Passat Variant
df_uk['class'] = np.where((df_uk['make'] == 'Volkswagen') & (df_uk['model'] == 'Passat') , 'Large family car', df_uk['class'])

# Audi A5
df_uk['class'] = np.where((df_uk['make'] == 'Audi') & (df_uk['model'] == 'A5') , 'Large family car', df_uk['class'])

# BMW 330
df_uk['class'] = np.where((df_uk['make'] == 'BMW') & (df_uk['model'] == '3 Series') , 'Large family car', df_uk['class'])

## compact SUV

In [62]:
# MB GLA 200
df_uk['class'] = np.where((df_uk['make'] == 'Mercedes-Benz') & (df_uk['model'] == 'G Class'), 'Compact SUV', df_uk['class'])

# VW Tiguan
df_uk['class'] = np.where((df_uk['make'] == 'Volkswagen') & (df_uk['model'] == 'Tiguan') , 'Compact SUV', df_uk['class'])

# Audi Q3
df_uk['class'] = np.where((df_uk['make'] == 'Audi') & (df_uk['model'] == 'Q3') , 'Compact SUV', df_uk['class'])
# BMW X1
df_uk['class'] = np.where((df_uk['make'] == 'BMW') & (df_uk['model'] == 'X1') , 'Compact SUV', df_uk['class'])

### grouped by the model, class, make

In [63]:
df_uk['class'].unique()

array(['Small car', 'Small family car', 'Compact SUV', 'Large family car'],
      dtype=object)

In [64]:
df_uk.groupby(['class', 'model']).count()['price']

class             model
Compact SUV       G Class       15
                  Q3          1378
                  Tiguan      1729
                  X1           789
Large family car  3 Series    2345
                  A5           861
                  C Class     3648
                  Passat       862
Small car         A1          1331
                  Polo        3191
                  i3            43
Small family car  1 Series    1931
                  A Class     2463
                  A3          1868
                  Golf        4734
Name: price, dtype: int64

### push the data to csv

In [65]:
df_uk.to_csv('../data/allcars_uk.csv', index=False)